#footer {
    height:60px;
    background-color: #f0f0f0;
    text-align: center;
}

#playDiv {
    height: 80%;
}

#completionDiv {
    font-weight:500;
    font-size:x-large;
}

#push {
    height: 60px;
}

html, body{
    height: 100%;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75px;
}

#overlay {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: #000;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

.container {
    width: auto;
    max-width: 920px;
    margin-right: auto;
    margin-left: auto;
}

