<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    {% block head %}
    <title>{{ title }}</title>

    {% endblock %}
</head>
<body>

<div id="wrap">
    <div class="container">
        {% include 'templates/header.html' %}

        {% block main_content %}

        {% endblock %}

    </div>
    <div id="push"></div>
</div>
<div id="footer" class="footer">
    <div class="container">
        {% include 'templates/footer.html' %}
    </div>
</div>

<script src="js/bootstrap.min.js"></script>

</body>
</html>
{% endautoescape %}